{% extends 'base.html' %}

{% block content %}
    <div class="row text-center">
        <div class="col">
            <h2>Wellcome!</h2>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4 mx-auto col-10">
            <form id="tweet-create-form" class="form" method="post" action="/create-tweet/">
                {% csrf_token %}
                <input type="hidden" value="/" name="next"/>
                <textarea class="form-control" name="content" required placeholder="What's happening?"></textarea>
                <button type="submit" class="btn btn-primary">Tweet</button>
            </form>
        </div>
    </div>

    <div class="row" id="tweets">
        Loading... 
    </div>

    <script>
        function handleFormDidSubmit(event){
            event.preventDefault()
            const myForm = event.target
            const myFormData = new FormData(myForm)
            // for (var item of myFormData.entries()){
            //     console.log(item)
            // }
            const endPoint = myForm.getAttribute("action")
            const method = myForm.getAttribute("method")
            const xhr = new XMLHttpRequest()
            xhr.open(method, endPoint);
            xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
            xhr.onload = function() {
                const serverResponse = xhr.response
                const tweetEl = document.getElementById("tweets")  // Get HTML element
                loadTweets(tweetEl)
            }
            xhr.send(myFormData)
        }
        const tweetCreateFormEl = document.getElementById("tweet-create-form")
        tweetCreateFormEl.addEventListener("submit", handleFormDidSubmit)
        const tweetEl = document.getElementById("tweets")  // Get HTML element
        // tweetElement.innerHTML = "Loading..."   // Set HTML in that element

        function loadTweets(tweetElement){
            const xhr = new XMLHttpRequest()
            const method = "GET"
            const url = "/tweets"
            const responseType = "json"

            function handleDidLike(tweet_id, current_count){
                alert(tweet_id)
            }

            function likeBtn(tweet){
                return "<button class='btn btn-primary btn-sm' onclick='handleDidLike("+tweet.id+", "+tweet.likes+")'>"+tweet.likes+" Likes</button>"
            }

            function formatTweet(tweet){
                var formatedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id + "'>" +
                                    "<p>" + tweet.content + "</p>" + "<div>" + likeBtn(tweet) + "</div></div>"
                return formatedTweet
            }

            xhr.responseType = responseType;
            xhr.open(method, url);
            xhr.onload = function() {
                // console.log(xhr.response);
                const serverResponse = xhr.response;
                const listedItems = serverResponse.response;
                let finalTweetStr = "";
                var i;
                for (i = 0; i<listedItems.length; i++){
                    console.log(listedItems[i])
                    var currentItem = formatTweet(listedItems[i]) 
                    finalTweetStr += currentItem;
                    tweetElement.innerHTML = finalTweetStr;
                }
            }
            xhr.send()

        }
        
        loadTweets(tweetEl)
    </script>
{% endblock content %}
